<h1>EpicEats</h1><br>
<h3>About us</h3>
<p>
EpicEats is a Seattle based meal delivery service offering a convenient stay-at-home solution to the pandemonium of dining out. Our friendly drivers bring delicacies from anywhere in the city to your door, enabling you to enjoy a delicious, professionally prepared meal without ever walking out the door! <br/><br/>
If you're like us, you love great food but you don't want to deal with the cacaphony of crowded restaurants, lazy waiters, and long wait times. That's where our dedicated staff of meal delivery experts come in. Our drivers will scour the city to bring you the food you love in the place you're most comfortable. So go ahead, treat yourself like royalty. You're going to love what comes to your door, because you picked it!<br/><br/>
Our drivers are friendly and they <em>always</em> deliver. That's our promise to you. And they'll never leave a tip, so the savings get passed on to you!
</p>
<br><br>
<h3>The Founders</h3>
<p>Sam Stoia, Julia Shidlovskaya, Mark Strickland, Olya Wysocky, and Dave Sarbora concieved this idea in April of 2019 when prompted to come up with a project to display their awesome web development skills. To date, this group has been in the business of getting you restaurant quality food and the service you deserve for over 48 hours! While we technically haven't made a sale yet, we believe you <strong>would</strong> be a satisfied customer if this company actually did business.</p>