  <div class="nav-container">
    <nav>
      <input type="checkbox" id="nav-toggle">
      <label for="nav-toggle" class="burger-menu">
          <i class="fa fa-bars"></i>
      </label>
      <div class="left-menu">
        <label for="checkbox" class="whiteText" id="clickable">Restaurants by Cuisine</label>
        <input id="checkbox" type="checkbox">
        <ul>
          <li><a routerLink="#">Italian</a></li>
          <li><a routerLink="#">Chinese</a></li>
          <li><a routerLink="#">Japanese</a></li>
          <li><a routerLink="#">...more</a></li>
        </ul>
        <a routerLink="restaurants">See All Restaurants</a>
          

      </div>
      <div class="center-menu">
        <a href="main" class="logo">EpicEats</a>
      </div>

      <div class="search-menu">
        <input id="searchBar" class="right" type="text" placeholder="Search..">
        <a routerLink="cart" class="right"><i class="fa fa-shopping-cart"></i></a>
      </div>
    </nav>
  </div>
