<nav>
  <!-- Navbar Main Link -->
    <div class="home">
      <a routerLink="main">Home</a>
    </div>
    
    <!-- Restaurants Info -->
    <div class="restaurants">
      <h3><a routerLink="restaurants">All Restaurants</a> </h3>
      <h3 class="dropdown">
       | Restaurants By Cuisine
      <h3 class="dropdown-content">
        <a routerLink="#">Italian</a>
        <a routerLink="#">Chinese</a>
        <a routerLink="#">Japanese</a>
        <a routerLink="#">...more to be added</a>
      </h3>
    </h3> 
    </div>

    <div class="search">
      <input class="stretch" type="text" placeholder="Search..">
      <button>go</button>
      
    </div>
    
    <div class="cart">
      <strong>Cart</strong>
    </div>
  </nav>