
<div class="page">
  <div class="restaurantDetailsContainer">
    <div *ngIf="restaurantToDisplay">
      <h2><i class="fa fa-utensils"></i> {{restaurantToDisplay.restaurantName}}</h2>
      <h4><i class="fa fa-location-arrow"></i> {{restaurantToDisplay.streetAddress}}</h4>
      <h4><i class="fa fa-clock"></i> {{restaurantToDisplay.hours}}</h4>
      <h4><i class="fa fa-globe"></i> <a href="http://{{restaurantToDisplay.website}}">{{restaurantToDisplay.website}}</a></h4>
    </div>
  </div>


  <div class="menuItemContainer" *ngFor="let item of menuItems">
    <div class="listStyle">
      <p class="left">{{item.menuItemName}}</p> 
      <p class="right">${{item.menuItemCost}}</p>
      <br>
      
      <p class="left">Comes With:</p>
      <br>
      <ul class="left">
        <li *ngFor="let sub of item.menuSubItems">{{sub}}<span *ngIf="item.menuSubItems[item.menuSubItems.indexOf(sub) +1]">,</span>  </li>
      </ul>
      <br>
    </div>
    <span title="Add To Cart"><button (click)="addToCart(item)"><i class="fa fa-cart-plus"></i></button></span>
  </div>
</div>
