
<!-- <p class ="cartEmpty" *ngIf="cart is empty">You cart is empty</p> if cart is empty, show cart is empty-->
  

<div class="wrapper">
  <!-- <div class="cartItem" *ngIf="cart is not empty"> If cart has items, show items in cart-->
    <h3>You Cart</h3>
    <!-- <div *ngFor="order in cart"> for each order in the cart-->
      <p>Restaurant Name</p>
      <p></p>
      <ul>
        <!-- <li *ngFor="item in order"></li> show each item in order-->
        <li>Each item in order</li>
      </ul>
      <button>Checkout</button>
    <!-- </div> -->
  <!-- </div> -->
</div>