
<!-- <p class ="cartEmpty" *ngIf="item.order_items">You cart is empty</p> if cart is empty, show cart is empty-->
  
<!-- 
<div class="wrapper">
  <h3>You Cart</h3>
  <div>
    <h5>Restaurant: </h5>
    <ul>
      <li>Cart Item: {{order.menuItem}}</li>
      <li>Quanity:{{order.quantity}}</li>
      <li>Total Price: {{order.cost}}</li>
      <button (click)="orderSubmit()">Checkout</button>
      <hr>
    </ul>
  </div>
</div>

<div *ngIf="order === true">
  <p>Order Success!</p>
</div> -->

<div *ngFor="let order of orders"><div *ngIf="order.status=='INCOMPLETED'"><div *ngFor="let orderItem of order.orderItems">{{orderItem.menuItem}} {{orderItem.quantity}}</div>{{order.totalCost}}</div></div>