.wrapper {
  grid-template-columns: 1fr;
  display: grid;
  margin: 40px;
}

#orderSuccess {
  display: none;
}

.link {
  color: blue;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}