<div class="wrapper">
  <div class="filter">
    <h3>Find Restaurants</h3>
    <hr>
    <div class="search">
      <input id="search" type="text" placeholder="Search Restaurants..">
      <button>Search</button>
    </div>
    <hr>
    <div class="refine">
      <h5>Filter by Price: </h5>
      <form action="">
        <input type="checkbox" name="cheapest" value=1> $
        <br>
        <input type="checkbox" name="midrange" value=3> $$
        <br>
        <input type="checkbox" name="mostExpensive" value=5> $$$

        <hr>

        <h5>Filter by Cuisine:</h5>
        <div (change)="onChange($event.target.value)">
          <input type="checkbox" name="italian" value="italian"> Italian
          <br>
          <input type="checkbox" name="chinese" value="chinese"> Chinese
          <br>
          <input type="checkbox" name="mexican" value="mexican"> Mexican
          <br>
          <input type="checkbox" name="japanese" value="japanese"> Japanese
          <br>
          <input type="checkbox" name="american" value="american"> American
          <br>
          <input type="checkbox" name="indian" value="indian"> Indian
        </div>
          <!-- <button (click)="onSubmit()">Filter</button> -->
          <br>
      </form>
    </div>
  </div>
</div>
