<!DOCTYPE html>
<html>
  <body>
    <div class="wrapper">
      <div id="page-content">
        <h1 id="pageTitle">USERS</h1>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item list-group-item-success" *ngFor="let currentUser of userList | async">First Name: {{currentUser.firstName}}<br>Last Name: {{currentUser.lastName}}<br>Email Address: {{currentUser.emailAddress}}<br>Delivery Address: {{currentUser.deliveryAddress}}<br>Phone: {{currentUser.phoneNumber}}<br><br><button class="button" (click)="goToEditUserPage(currentUser)">Update</button>  <button class="button" (click)="goToDeleteUserPage(currentUser)">Delete</button></li>
        </ul>
        <br>
        <button class="button" (click)="goToAddUserPage()">Add User</button>
        <button class="button" (click)="goToSearchUserPage()">Search Users</button>
      </div>
    </div>
  </body>
</html>
