<div class="restaurants">
    <div class="list">
      <!-- <div *ngFor="let restaurant of restaurantList | async">
        {{restaurant.restaurant_name}}
      </div> -->
      <div class="restaurantBlock" *ngFor="let restaurant of restaurantList | async">
        <a routerLink="">
          <img src="https://i.ndtvimg.com/i/2016-06/chinese-625_625x350_81466064119.jpg?downsize=630:380&output-quality=70&output-format=webp"> <p>{{restaurant.restaurant_name}}</p><p>{{restaurant.cuisine}}: </p><p>Price</p>
        </a>
      </div>
    </div>
  </div>
  