<div class="restaurants">
    <div class="list">
      <!-- <div *ngFor="let restaurant of restaurantList | async">
        {{restaurant.restaurant_name}}
      </div> -->
      <div class="restaurantBlock" *ngFor="let restaurant of restaurantList | async | SearchRestaurantCuisinePipe:filterByCuisineChild" (click)="goToMenuPage(restaurant)">
          <img src="{{restaurant.imageUrl}}"> 

          <p>{{restaurant.restaurantName}}</p>
          <p>Style: {{restaurant.cuisine}}</p>
          <p>Price: {{restaurant.price}}</p>
          <p id="menuLink">See Menu</p>
      </div>
    </div>
  </div>
