.restaurants {
  display: grid;
  grid-template-columns: 1fr;
}


.restaurantBlock {
  text-align: center;
  width: 220px;
  min-height: 250px;
  height: auto;
  min-width: 200px;
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  margin-right: 20px;
  cursor: pointer;
}

.restaurantBlock:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px rgba(0, 0, 0, .5);
}

img {
  height: 250px;
  width: 100%;
}

#menuLink {
  color: blue;
}

#menuLink:hover {
  text-decoration: underline;
}